.container-fluid{
    font-family: 'Courier New', Courier, monospace;
}

.col-md{
    background: #ffe6e8;
}
.h-10{
    height: 10%!important;
}
.h-20{
    height: 20%!important;
}
.h-70{
    height: 70%!important;
}
.form-title{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px; 
}
table{
    font-size: 3vh;
}
img{
    height: 200px;
    width: 200px;
}
@media screen and (min-width: 451px) {
    table {
       font-size: 15px;
    }
}
@media screen and (max-width: 450px) {
    table {
       font-size: xx-small;
    }
}