<div class="container">
  <div class="row">
    <form class="mx-5 mt-5 p-0" (ngSubmit)="submitSearch(form)" #form="ngForm">
      <div class="form-group">
        <label>TYPE</label>
        <div class="form-check" *ngFor="let type of types">
            <mat-checkbox>{{ type }}</mat-checkbox>
          <!-- <input type="checkbox" value="type" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">{{ type }}</label> -->
        </div>
      </div>
      <div class="form-group">
        <label for="price">PRICE</label>
        <mat-slider></mat-slider>
      </div>
      <div class="form-group">
        <label>STYLE</label>
        <div class="form-check" *ngFor="let style of styles">
          <mat-checkbox>{{ style }}</mat-checkbox>
        </div>
      </div>
    </form>
  </div>
</div>