
<div [@navbar]="navbarShow? 'open' : 'close'" class="fixed-top">
    <app-navbar></app-navbar>
</div>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-2 col-1 bg-light" style="max-width:50px">
            <div class="row align-items-center h-100">
                <div class="col">
                    <a routerLink="/" routerLinkActive><mat-icon svgIcon="home"></mat-icon></a>
                </div>
                <div class="col align-self-start">
                    <a routerLink="/orders/track" routerLinkActive><mat-icon svgIcon="magnify"></mat-icon></a>
                </div>
                <div class="col align-self-buttom">
                    <a href="https://www.facebook.com/photofactorynahef/"><mat-icon svgIcon="facebook" class="my-1"></mat-icon></a>     
                    <mat-icon class="clickable" style="color: green" svgIcon="whatsapp" class="my-1" data-toggle="tooltip" data-placement="right" title="050-648-8757"></mat-icon>
                    <mat-icon class="clickable" style="color: purple" svgIcon="phone" class="my-1" data-toggle="tooltip" data-placement="right" title="050-648-8757"></mat-icon>
                </div>
            </div>
        </div>

        <div class="col p-0"> 
            <router-outlet></router-outlet>
        </div>

        <div class="col-xs-2 col-1 bg-light" style="max-width:50px">
            <div class="row align-items-center h-100">
                <div class="col">
                  <a routerLink="/products" routerLinkActive><mat-icon svgIcon="shopping"></mat-icon></a>
                </div>
                <div class="col">
                   <a routerLink="/cart" routerLinkActive><mat-icon svgIcon="cart-outline"><span class="badge badge-primary badge-pill">{{ sharedService.cartItems.length }}</span></mat-icon></a>
                </div>
                <div class="col">
                   <mat-icon class="clickable" style="color:#007bff" svgIcon="menu-open" (click)="navbarShow = !navbarShow"></mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
