<div class="container-fluid h-100 border border-success">
    <div class="row h-100">
        <div class="col-sm-2 col-1" [ngbCollapse]="showLeft" style="max-width:60px">
            <div class="row h-100">
                <div class="col">
                    <button class="btn align-self-center" (click)="showLeft = !showLeft">|||</button>
                </div>
            </div>
        </div>
        <div [ngbCollapse]="!showLeft"  class="col-md-5 col-lg-7 p-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col p-0">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2 col-1" [ngbCollapse]="showRight" style="max-width:60px">
            <div class="row align-items-center h-100">
                <div class="col">
                    <button class="btn" (click)="showRight = !showRight">|||</button>
                </div>
                <div class="col">
                    <button class="btn" (click)="showRight = !showRight">|||</button>
                </div>
                <div class="col">
                    <button class="btn" (click)="showRight = !showRight">|||</button>
                </div>
            </div>
        </div>
    </div>
</div>