<div class="container-fluid h-100">
    <div class="row h-100">
        <div [ngbCollapse]="!sharedSrv.sidebarOpen" class="col p-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-sm-2 col-1 bg-transparent" style="max-width:50px">
            <div class="row align-items-center h-100">
                <div class="col">
                        <button class="btn" (click)="onOpenSidebar()">|||</button>
                </div>
                <div class="col align-self-start">
                    <button class="btn" (click)="onOpenSidebar()">|||</button>
                </div>
                <div class="col align-self-buttom">
                    <button class="btn" (click)="onOpenSidebar()">|||</button>
                </div>
            </div>
        </div>

        <div class="col">
            <router-outlet></router-outlet>
        </div>

        <div class="col-sm-2 col-1 bg-light" style="max-width:50px">
            <div class="row align-items-center h-100">
                <div class="col">
                    <a routerLink="/user/orders">|||</a>
                </div>
                <div class="col">
                    <a routerLink="/user/shoppingcart">|||</a>
                </div>
                <div class="col">
                    <a routerLink="/user/profile">|||</a>
                </div>
            </div>
        </div>
    </div>
</div>
