
  <div class="row h-100">
    <ng-container *ngIf="showSearch">
        <div class="col-md-4 col-lg-3">
            <div class="row h-100 d-flex align-items-center" style="background-color: rgb(168, 215, 233)">
                <app-product-search [filteredProducts]="filteredProducts" (searchResults)="searchProducts($event)" (selectedPage)="productsPerPage($event)"></app-product-search>
            </div>
        </div>
    </ng-container>
    <div class="col">
        <div class="row">
            <div *ngFor="let product of shownProducts" class="col-sm-6 col-lg-3 text-center" style="background-color:rgb(236, 191, 230);">
                <div class="float-left m-1 bg-info rounded-circle">
                  <p class="m-1" style="font-size:2em">${{ product.price }}</p>
                </div>
                <img [routerLink]="['/products', product._id]"  class="img-thumbnail"
                 [src]="product.mainImage" [alt]="product.title">
                <h2 class="mx-auto">{{ product.title }}</h2>
            </div>       
        </div>
    </div>
  </div>
