<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-6 p-0 bg-danger h-100">
      Product Images
    </div>
    <div class="col-md-6 p-0">
      <div class="row h-100">
        <div class="card h-100">
          <div class="card-body mx-5 h-100">
            <div class="row h-25 align-items-center">
                <a class="btn text-capitialize" style="font-size: 1.5em">Back</a>
            </div>
            <div class="row h-25 align-items-start" style="font-size: 1em">
                <h3 class="card-title">Stone with Picture</h3>
                <p class="card-text text-secondary" style="font-size: 1em">
                  It is a long established fact that a reader will be 
                  distracted by the readable content of a page when looking 
                  at its layout. The point of using Lorem Ipsum is that it has 
                  a more-or-less normal distribution of letters, as opposed 
                  to using 'Content here, content here', making it 
                  look like readable English.
                </p>
                <h3 class="card-title" style="font-size: 1em">$50.00</h3>
            </div>
            <div class="row h-25 align-items-center">
              <div class="col-4">
                <p>Color</p>
                <span class="rounded-circle bg-danger h-25 w-25">x</span>
                <span class="rounded-circle bg-primary h-25 w-25">x</span>
                <span class="rounded-circle bg-success h-25 w-25">x</span>
              </div>
              <div class="col-8"></div>
            </div>
            <div class="row h-25 align-items-start">
              <div class="col">
                <button class="btn btn-dark text-white" style="font-size: 1em">Add to Cart</button>
              </div>
              <div class="col">
                <button class="btn btn-light text-dark" style="font-size: 1em">Save for Later</button>
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>